packages:
  yum:
    firefox: []

commands:
  01_firefox_path:
    command: "export PATH=$PATH:/usr/bin/firefox"
  02_install_geckodriver:
    command: "curl -L https://github.com/mozilla/geckodriver/releases/download/v0.29.1/geckodriver-v0.29.1-linux64.tar.gz | tar -xvz && mv geckodriver /usr/local/bin/"

container_commands:
  01_install_geckodriver:
    command: "cd /tmp && curl -L -O https://github.com/mozilla/geckodriver/releases/download/v0.30.0/geckodriver-v0.30.0-linux64.tar.gz && tar zxvf geckodriver-v0.30.0-linux64.tar.gz && mv geckodriver /usr/bin/geckodriver && chmod +x /usr/bin/geckodriver"
  02_install_dependencies:
    command: "source /var/app/venv/*/bin/activate && pip install -r requirements.txt"
  03_set_flask_env:
    command: "echo 'export FLASK_APP=application.py' >> /opt/python/current/env"
